<p id="notice"><%= notice %></p>
<h1><%= @user.name %></h1>
<h3>Concerns:</h3><ul>
  <% @user.created_concerns.each do |concern| %>
    <li><%= link_to concern.title, concern_path(concern) %></li>
  <% end %>
</ul>
